
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/*!-----header-----*/

header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

header img{
    max-width: 80px;
}


.nav-item{
    text-decoration: none;
    text-transform: uppercase;
    color:white; 
    margin: 0px 15px;
}


/*?-----main-titulo-----*/

main{
    background-color: black;
    color: white;

}

main #title-index{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 84vh;
    background-image: url(../img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main #title-index h1{
    font-family: "Rock Salt", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 4rem;
    margin: 20px;
}

/*?-----main-section-----*/

main #section-index{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    text-align: center;
}

main #section-index .box-information{
    border-radius: 25px;
    background-color: black;
    border: solid 2px white;
    padding: 10px; 
}

main #section-index .box-information:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
    box-shadow: 0 0 15px rgb(255, 255, 255);
    background-color: black;
}

main #section-index .box-information img{
    max-width: 300px;
}

main #section-index .box-information h2{
    text-transform: uppercase;
}

main #section-index .box-information ul{
    padding: 0;
}

main #section-index .box-information ul li{
    list-style: none;
    margin: 10px 0px;
}


/*?-----main-final-section-----*/

main #final-section-index{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

main #final-section-index #text{
    width: 50%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

main #final-section-index #text h2{
    text-transform: uppercase;
    font-size: 3rem;
    margin: 15px 0px;
}

main #final-section-index #text p{
    font-size: 20px;
    margin: 25px 0px;
}

main #final-section-index #text img{
    max-width: 150px;
}

main #final-section-index #img-aside-section-index{
    background-image: url(../img/rack-musica.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 600px;
    height: 800px;
    text-align: center;
    align-content: center;
    font-family: "Rock Salt", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    color: white; 
}

/*-----main-catalogo-------*/

#aside-catalogo {  
    top: 80px; 
}

#aside-catalogo.sticky-top{
    top: 80px;
    z-index: 990; 
}

#aside-catalogo a{
    color: white;
    text-decoration: none;
}

#aside-catalogo a:hover {
    text-decoration: underline;
    color: #ffc107;
    transition: 0.2s ease;
}

#menuMovil a {
    color: white;
    text-decoration: none;
}

#menuMovil a:hover {
    text-decoration: underline;
    color: #ffc107;
    transition: 0.2s ease;
}

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 200px 200px 200px 200px 200px;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    border: 2px solid white;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
}

#catalogo #aside-catalogo ul li h4{
    margin-top: 15px;
}


/**-----footer-----*/

footer{
    position: sticky;
    display: flex;
    padding: 10px;
    background-color: rgb(33, 37, 41);
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 1000;
}

footer p{
    margin: 0;
}

footer #footer-redes a img{
    max-width: 30px;
}

/*----- media queris ------*/

@media screen and (max-width: 1149px){

    /*header{
        justify-content: flex-end;
    }

    header #logo{
        display: none; 
    }*/

    main #contenido-pagina{
        flex-wrap: wrap;
        height: auto;
        margin: 30px 0;
    }

    main #contenido-pagina .box-informacion{
        margin: 20px;
    }
}

@media screen and (max-width: 999px){
    main #final-main{
        flex-direction: column;
        text-align: center;
    }

    main #final-main #texto{
        height: auto;
        width: 100%;
        padding: 20px;
    }

    main #final-main #img-section-index{
        margin-top: 50px;
    }


}

@media screen and (max-width: 899px){

    /*header nav ul{
        display: none;
        flex-direction: column;
        text-align: center;
    }

    header nav ul li{
        margin: 15px 0px;
    }*/

    main #title-main{ 
        flex-direction: column;
    }

}



@media screen and (max-width: 600px){
    main #final-main #img-section-index{
        display: none;
    } 

    footer{
        flex-direction: column-reverse;
        text-align: center;
    }
}

@media screen and (max-width: 520px){

    main #title-main {
        background-image: url(../img/banne-2.png);
        background-size: cover; 
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: scroll; 
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 50vh;
        margin: 0;
        padding: 0;
    }

    main #title-main h1 {
        font-size: 2rem;
    }
}


@media screen and (max-width: 374px){

    main #contenido-pagina .box-informacion{
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    main #contenido-pagina .box-informacion img{
        width: 100%;
    }

    main #final-main #texto{
        margin: 0;
        padding: 0;
    }

}