@use "../base/funcionalidades";

#catalogo{
    #aside-catalogo{
        top: 80px;
        ul{
            li{
                a{
                    color: funcionalidades.$colorSecundario;
                    text-decoration: none;
                    
                    &:hover{
                        text-decoration: underline;
                        color: funcionalidades.$hoverOrange;
                        transition: 0.2s ease; 
                    }
                }

                h4{
                    margin-top: 15px;
                }
            }
        }
    }

    #aside-catalogo.sticky-top{
        top: 80px;
        z-index: 990; 
    }
}

main{

    #menuMovil{
        h4{
            margin-top: 15px;
        }

        a{
            color: funcionalidades.$colorSecundario;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
                color: funcionalidades.$hoverOrange;
                transition: 0.2s ease;
            }
        }
    }

    .grid-galeria{
        @include funcionalidades.flex(grid, space-around, center);
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: 600px;
        gap: 40px;
        padding: 20px;
    }

    .grid-item{
        border: 2px solid funcionalidades.$boxBorder;
        border-radius: 15px;
        text-align: center;

        &:hover{

                border: 2px solid funcionalidades.$colorSecundario;
                box-shadow: 0 0 20px 1px funcionalidades.$hoverGray;
                transition: 0.2s ease;
            }

        img{
            width: 100%;
            height: 300px;
            border-radius: 13px;
            object-fit: cover;
            margin-bottom: 10px;
        }

        &:hover{
            transform: scale(1.05);
            transition: 0.3s ease; 
        }

        h2{
            font-size:  25px;
        }

        h3{
            font-size: 18px;
        }
    }

    .switch-pages{
        @include funcionalidades.flex(flex,center,center);
        gap: 20px;
        margin:  20px 0;

        a{
            text-decoration: none;
            color: funcionalidades.$graySwitchPage;
            font-size: 20px;

            img{
                max-width: 30px;
            }

            &:hover{
                color: funcionalidades.$colorSecundario;
            }
        }
    }
}