@use "../base/funcionalidades";

footer{
    @include funcionalidades.flex(flex, center, center);
    position: sticky;
    flex-direction: column-reverse;
    padding: 10px 20px;
    background-color: funcionalidades.$lightBlack;
    text-align: center;
    flex-wrap: wrap;
    color: funcionalidades.$colorSecundario;
    z-index: 1000;
    gap: 15px;

    #footer-redes{
        display: flex;
        gap: 10px;
        
        a{
            img{
                max-width: 30px;
            }
        }
    }
}