header{
    position: sticky;
    top: 0;
    z-index: 1000;
    img{
        max-width: 80px;
    }

    .nav-item{
    text-decoration: none;
    text-transform: uppercase;
    color:white; 
    margin: 0px 15px;
    }
}


