@use "../base/funcionalidades";

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    img{
        max-width: 80px;
        animation: girar 4s linear infinite;
    }

    @keyframes girar {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .nav-item{
    text-decoration: none;
    text-transform: uppercase;
    color: funcionalidades.$colorSecundario; 
    margin: 0px 15px;
    }
}


