$colorPrimario: black;
$colorSecundario: white;
$hoverOrange:  #ffc107;
$hoverGray: rgba(196, 193, 193, 0.2);
$graySwitchPage: rgba(255, 255, 255, 0.541);
$lightBlack: rgb(33, 37, 41);
$boxBorder: rgba(255, 255, 255, 0.5);

$fontSizeText: 15px;
$fontSizeH2: 2.2rem;


%hover-box{
    border: 2px solid $colorSecundario;
    box-shadow: 0 0 20px 1px $hoverGray;
    transition: 0.2s ease;
    transform: scale(1.05);
    transition: 0.3s ease;
}

@mixin flex($flex,$justify, $aling){
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
}

@mixin size($height, $width){
    height: $height;
    width: $width;
}